.threats-side-component {
    position: fixed;
    display: none;
    background-color: var(--gray-200);
    backdrop-filter: blur(20px);
    z-index: 6;
    height: min(96%) !important;
    width: min(400px, 99%);
    left: 0px;
    top: 0px;
    margin: 2%;
    border-radius: 15px;
    padding: 10px;
    > div {
        padding: 5px;
    }

    > div.header {
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: space-between;
        >button {
            background-color: var(--gray-300);
            cursor: pointer;
        }
        >button:hover {
            background-color: #3e3c3d5f;
            box-shadow: 0px 0px 20px rgba(193, 192, 192, 0.196);
        }
    }
    > div.history {
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
        /* background-color: var(--gray-200); */
        >button {
            background-color: var(--gray-600);
            flex-grow: 1;
            font-weight: 600;
            cursor: pointer;
            
        }
        >button:hover {
            background: linear-gradient(0, #20c991, #20a7c9);
            box-shadow: 0px 0px 20px #20a7c9;
        }
        >button:active {
            opacity: 0.8;
        }
        
    }
    > div.options {
        >div {
            margin-top: 3px;
            text-align: center;
            >* {
                width: 100%;
            }
        }
        >div.chat-tools {
            padding: 10px;
            background-color: var(--gray-100);
            padding: 15px;
            
            border-radius: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            >select {
                padding: 10px;
                background-color: transparent;
                border-radius: 10px;
                appearance: none;
                -webkit-appearance: none;
                font-family: var(--font-readable);
                font-weight: 700;
                -moz-appearance: none;
                >option {
                    background-color: #20a7c9;
                }
            }
            >select:active, >select:focus {
                outline: none;
            }
            >select:hover {
                background-color: transparent;
            }
    
        }

    }
    > div.footer {
        position: fixed;
        bottom: 0;
    }
}

.chat-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}


.playground-component {
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    width:min(800px, 90%);
    /* border: 1px solid rgba(128, 128, 128, 0.354); */
    height: 100%;
    >div.header {
        padding: 9px;

        /* background-color: var(--gray-200); */
    }
    >div.chat-input {
        height: fit-content;
        padding: 14px;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* border: 1px solid var(--gray-300); */
        width: 100%;
        border-radius: 10px;
        
        /* background-color: var(--gray-300); */
        display: flex;
        >textarea {
            flex-grow: 1;
            padding: 5px;
            outline: none;
            height: 100px;
            border-radius: 5px;
            background-color: transparent;
            font-family: var(--font-readable);
           
            
        }
        >textarea:hover, >textarea:focus {
            border: #20a7c9 1px solid;
        }
        >div {
            display: flex;
            gap: 6px;
            >button {
            
                max-width: fit-content;
                opacity: 0.6;
            }
            >button:hover {
                opacity: 1;
                background: linear-gradient(0, #20c991, #20a7c9);
                box-shadow: 0px 0px 20px #20c991;
            }
        }
       
    }

    >div.chat-messages {
        display: flex;
        flex-direction: column;
        background-color: rgba(116, 116, 116, 0.164);
        backdrop-filter: blur(10px);
        height: 70%;
        overflow-y: scroll;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(193, 192, 192, 0.196);
  
        >div.message-bubble {
            padding: 15px;
            border-radius: 10px;
            margin-top: 9px;
           

        }
        >div.user-message {
            background-color: var(--gray-100);
            width: fit-content;
            align-self: end;
        }
        >div.bot-message {
            background-color: var(--gray-300);
            width: fit-content;
            
        }
    }
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent
  }
  
  /* Style the thumb (the part of the scrollbar the user can interact with) */
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;

  }
  
  /* Style the thumb when it's being hovered over or dragged */
  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent
  }
/* 
.floating-ball {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #055aaa35;
    z-index: 6;
    border-radius: 10px;
    text-align: center;
    
}
.floating-ball:hover {
    background: linear-gradient(0, #20c991, #20a7c9);
    cursor: pointer;
    box-shadow: 0px 0px 20px #20c991;
} */